<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>70611380676-ajo5irknlgsisnfpnph4cdglkur5mpe0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.70611380676-ajo5irknlgsisnfpnph4cdglkur5mpe0</string>
	<key>API_KEY</key>
	<string>AIzaSyCyl1HufGKhCqwRpGRE--F1tdH_Nsg0sMc</string>
	<key>GCM_SENDER_ID</key>
	<string>70611380676</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseAuthen</string>
	<key>PROJECT_ID</key>
	<string>mobile-lab-flutter-fireb-b6835</string>
	<key>STORAGE_BUCKET</key>
	<string>mobile-lab-flutter-fireb-b6835.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:70611380676:ios:55a1fa8588ad592d829c91</string>
</dict>
</plist>